<div class="row px-4 py-2"><h1>
  {% if object_list %}
    {{name}}s
  {% elif object %} 
    {{object}}   
  {% else %}
    New {{name}}
  {% endif %}
</h1></div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-none mb-0">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      {% if object_list %} 
        <li class="breadcrumb-item active">{{name}}s</li>
      {% else %}
        {% if object %} 
          {% if object.user %}
            <li class="breadcrumb-item"><a href="{% url 'contact:list' %}">Contacts</a></li>
            <li class="breadcrumb-item"><a href="{% url 'contact:detail' object.user.slug %}">{{object.user}}</a></li>
          {% else %}
            <li class="breadcrumb-item"><a href="{% url name|add:':list'%}">{{name}}s</a></li>
          {% endif %}
          {% if form %}
            <li class="breadcrumb-item"><a href="{% url name|add:':detail' slug_or_pk %}">{{object}}</a></li>
            <li class="breadcrumb-item active">Edit</li>
            {% include "kaucu/base/menu.html" %}
          {% else %}
            <li class="breadcrumb-item active">{{object}}</li>
            <a class="bread-icon clr-m" href="{% url name|add:':update' slug_or_pk %}"><i class="far fa-edit"></i></a>
          {% endif %}
        {% else %}
          {% if parent %}
            {% if parent.user %}
              <li class="breadcrumb-item"><a href="{% url 'contact:list' %}">Contacts</a></li>
              <li class="breadcrumb-item"><a href="{% url 'contact:detail' parent.user.slug %}">{{parent.user}}</a></li>
              <li class="breadcrumb-item"><a href="{% url 'sale:detail' parent.slug %}">{{parent}}</a></li>
            {% elif parent %}
              <li class="breadcrumb-item"><a href="{% url 'contact:list' %}">Contacts</a></li>
              <li class="breadcrumb-item"><a href="{% url 'contact:detail' parent.slug %}">{{parent}}</a></li>
            {% endif %}
          {% endif %}
          <li class="breadcrumb-item active">New {{name}}</li>
        {% endif %}
      {% endif %}

  </ol>
</nav>




