{% load myfilters %}

<div class="row">
    <div class="col-md-6 mb-2 pr-md-2">
      <a class="row p-4 list-group-item-action cursor align-items-center center bg-in text-primary" href="{% url request.resolver_match.namespace|add:':create' %}">
        <div class="col-sm-12">+ New {{request.resolver_match.namespace}}</div>
      </a></div>
    <div class="col-md-5 mb-2 pr-md-2">
      <a class="row p-4 list-group-item-action cursor align-items-center center bg-in disabled" id="proceed" href="#">
        <div class="col-sm-12">Proceed</div>
      </a></div>
    <div class="col-md-1 mb-2">
        <a class="row p-4 list-group-item-action cursor align-items-center center bg-in"
         data-toggle="collapse" href="#filter" role="button" 
        aria-expanded="false" aria-controls="filterCollapse">
      <div class="col-sm-12"><i style="position:relative;top:4px;height:24px;" class="fas fa-filter"></i>

      </div>
    </a></div>
  </div>
  {% include "kaucu/base/filter_form.html" %}