{% load myfilters %}

<div class="dropdown show bread-icon">
    <a class="clr-m dropdown-toggle no-text-deco" role="button" href="#" id="breadMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-cog"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="breadMenu">
        <a onclick="handleDialog(`{% url request.resolver_match.namespace|add:':delete' slug_or_pk %}`)" class="dropdown-item">Delete {{ request.resolver_match.namespace }}</a>
    </div>
</div>