{% extends 'kaucu/base/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/chart.js' %}"></script>

<div class="row px-4 py-4"><h1>
   Welcome
  </h1>
</div>
<div class="right-icon"><i class="fas fa-tachometer-alt"></i></div>

<div class="row">
    <div class="col-sm-12 col-lg-4 mb-2 pr-md-2">
      <div class="row p-4 bg-in mb-2">
        <div class="col-6">Total ({{current_month}})</h4></div>
        <div class="col-6"><h4>£{{current_month_total|floatformat}}</h4></div>
      </div>
      <div class="row p-4 bg-in mb-2">
          <div class="col-6">Total ({{current_year}})</h4></div>
          <div class="col-6"><h4>£{{current_year_total|floatformat}}</h4></div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-8 mb-2 pr-md-2">
      <div class="row p-4 bg-in">
        <div class="col-sm-12"><canvas id="myLineChart" width="400" height="400"></canvas></div>
      </div>
    </div>
</div>

{% if chart_data|length > 0 %}
<script>
  var options = {
    tooltips: { mode: 'x'},
    elements: {line: {tension: 0.4, fill: false }},
  };
  var data = {
      labels: {{chart_labels|safe}},
      datasets: {{chart_data|safe}}
  };
  var ctx = document.getElementById('myLineChart');
  var myLineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options:options,
  });
</script>
{% endif %}

{% endblock %}
