{% extends 'kaucu/base/base.html' %}
{% load myfilters %}
{% block content %}
{% if request.user.is_authenticated %}
{% include "kaucu/base/breadcrumb.html" %}
{% endif %}
<div class="right-icon"><i class="fas fa-chart-line"></i></div>

<div class="row">
  <div class="col-md-6 mb-2 pr-md-2">
    <a class="row p-4 list-group-item-action cursor align-items-center center bg-in text-primary" href="{% url 'sale:create' %}">
      <div class="col-sm-12">+ New {{request.resolver_match.namespace}}</div>
    </a></div>
  <div class="col-md-5 mb-2 pr-md-2">
    <a class="row p-4 list-group-item-action cursor align-items-center center bg-in disabled" id="proceed" href="#">
      <div class="col-sm-12">Proceed</div>
    </a></div>
  <div class="col-md-1 mb-2">
      <a class="row p-4 list-group-item-action cursor align-items-center center bg-in"
       data-toggle="collapse" href="#filter" role="button" 
      aria-expanded="false" aria-controls="filterCollapse">
    <div class="col-sm-12"><i style="position:relative;top:4px;height:24px;" class="fas fa-filter"></i>

    </div>
  </a></div>
</div>
{% include "kaucu/base/filter_form.html" %}
<div class="table-responsive-sm bg-white">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Package</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Cost</th>
          <th scope="col">A</th>
          <th scope="col">C</th>
          <th scope="col">I</th>
          <th scope="col">Status</th>
          <th scope="col">Created</th>
          <th scope="col">Creator</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td><a href="{% url 'sale:detail' object.slug %}">{{ object.slug }}</a></td>
          <td>{{ object.package }}</td>
          <td><a href="{% url 'contact:detail' object.user.slug %}">{{ object.user.first_name }} {{ object.user.last_name }}</a></td>
          <td>{{ object.price }}</td>
          <td>{{ object.cost }}</td>
          <td>{{ object.adult }}</td>
          <td>{{ object.child }}</td>
          <td>{{ object.infant }}</td>
          <td class="clr-white center" scope="row"><div class="py-1 px-1 rounded {{object.status|makeClass }}-status">{{ object.status }} </div></td>
          <td>{{ object.created }}</td>
          <td>{{ object.creator }}</td>
          <th><button onclick="handleDialog(`{% url 'sale:delete' object.slug %}`)" type="button" class="close text-danger" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% include "kaucu/base/paginate.html" %}
{% endblock %}