{% extends 'kaucu/base/base.html' %}
{% load myfilters %}
{% block content %}
{% include "kaucu/base/title.html" %}
{% include "kaucu/base/breadcrumb.html" %}
<div class="right-icon"><i class="fas fa-chart-line"></i></div>
<div class="row">
  {% with perm_name=request.resolver_match.namespace %}
    {% include "kaucu/base/buttons.html" %}
  {% endwith %}
  {% include "kaucu/base/filter_form.html" %}
</div>
<div class="table-responsive-lg bg-in mb-2">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Package</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Cost</th>
          <th scope="col">A</th>
          <th scope="col">C</th>
          <th scope="col">I</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col">Created</th>
          <th scope="col">Creator</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr class="row-click cursor" data-href="{% url 'sale:detail' object.slug %}">
          <td>{{ object.slug }}</td>
          <td>{{ object.package }}</td>
          <td>{{ object.user.first_name }} {{ object.user.last_name }}</td>
          <td>{{ object.price }}</td>
          <td>{{ object.cost }}</td>
          <td>{{ object.adult }}</td>
          <td>{{ object.child }}</td>
          <td>{{ object.infant }}</td>
          <td class="clr-white center" scope="row"><div class="py-1 px-1 rounded {{object.status|makeClass }}-status">{{ object.status }} </div></td>
          <td>{{ object.confirmed_date|date:"d/m/y" }}</td>
          <td>{{ object.created|date:"d/m/y H:i" }}</td>
          <td>{{ object.creator }}</td>
          <td>
            <button class="close text-danger" onclick="handleDialog(`{% url 'sale:delete' object.slug %}`)" type="button"  aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% include "kaucu/base/paginate.html" %}
{% endblock %}