{% extends 'kaucu/base/base.html' %}
{% block content %}
<div class="right-icon"><i class="fas fa-layer-group"></i></div>

{% include "kaucu/base/breadcrumb.html" %}
{% include "kaucu/base/filter_list.html" %}
<div class="table-responsive-sm bg-white">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Supplier</th>
          <th scope="col">Currency</th>
          <th scope="col">Exchange Rate</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr class="cursor" onclick="window.location='{% url 'supplier:detail' object.pk %}';">
          <td>{{ object.supplier }}</td>
          <td>{{ object.currency }}</td>
          <td>{{ object.currency_rate }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% include "kaucu/base/paginate.html" %}
{% endblock %}