{% extends 'kaucu/base/base.html' %}
{% load myfilters %}
{% block content %}
{% if request.user.is_authenticated %}
  {% include "kaucu/base/breadcrumb.html" %}
{% endif %}
{% if perms.change_supplier %}
<a class="bread-icon clr-m" href="{% url request.resolver_match.namespace|add:':update' slug_or_pk %}">
    <i class="far fa-edit"></i>
</a>  
{% endif %}   

<div class="row">
  <div class="col-sm-6 col-md-4 mb-2 pr-sm-2">
    <div class="row px-4 py-2 bg-in {% if balance > 0 %} positive {% else %} negative {% endif %}"><div class="col-6">Balance</div><div class="col-6"><strong>{{object.totals.balance}}</strong></div></div>
  </div>
  <div class="col-sm-6 col-md-4 mb-2 pr-md-2">
    <div class="row px-4 py-2 bg-in"><div class="col-6">Total in</div><div class="col-6">{{object.totals.total_in}}</div></div>
  </div>
  <div class="col-sm-6 col-md-4 mb-2">
    <div class="row px-4 py-2 bg-in"><div class="col-6">Total out</div><div class="col-6">{{object.totals.total_out}}</div></div>
  </div>
</div>



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" 
    id="payments-tab" data-toggle="tab" href="#payments" role="tab" aria-controls="payments" aria-selected="false">Balance Sheet</a>
  </li>
</ul>
<div class="tab-content mt-2"> 
  <div class="tab-pane fade show active" id="payments" role="tabpanel" aria-labelledby="payments-tab">
    <div class="row">
      <div class="col-sm-6 mb-2 pr-sm-1 ">
        <a onclick="handleDialog(`{% url 'supplier_payment:create' object.pk %}`)"
          class="row p-4 list-group-item-action cursor align-items-center center bg-in text-primary">
          <div class="col-sm-12">+ Assign Payment</div>
        </a>
      </div>
    </div>
    <table class="table bg-in mb-2">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Service</th>
              <th scope="col">Package</th>
              <th scope="col">IN</th>
              <th scope="col">OUT</th>
            </tr>
          </thead>
      <tbody>
          {% for item in object.balance_sheet %}
            <tr>
              <td>{% if item.service != '' %}<a target="_blank" href="{% url 'sale:detail' item.payment_slug %}">{{item.payment_slug}}</a>{% else %}{{item.payment_slug}}{% endif %}</td>
              <td>{{item.paid_date}}</td>
              <td>{{item.service}}</td>
              <td>{{item.package}}</td>
              <td>{% if item.in_payment != 0 %}{{item.in_payment}}{% endif %}</td>
              <td>{% if item.out_payment != 0 %}{{item.out_payment}}{% endif %}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade show active" id="activites" role="tabpanel" aria-labelledby="activites-tab"></div>
</div>



{% endblock %}