{% extends 'kaucu/base/base.html' %}
{% load myfilters %}
{% block content %}
{% include "kaucu/base/breadcrumb.html" %}
{% if request.user|has_group:'Admin' or request.user.is_superuser %}
<a class="bread-icon clr-m" href="{% url request.resolver_match.namespace|add:':update' slug_or_pk %}">
    <i class="far fa-edit"></i>
</a>  
{% endif %}   
<div class="row">
    <div class="col-lg-12 bg-in py-4 mb-2">
        <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-sm-4 col-lg-4 mb-sm-3 pl-4">Email</div>
                <div class="col-sm-8 col-lg-8 mb-3 pr-4 pl-4 pl-sm-0">{{ object.email }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-sm-4 col-lg-4 mb-sm-3 pl-4">Creator</div>
                <div class="col-sm-8 col-lg-8 mb-3 pr-4 pl-4 pl-sm-0">{{ object.creator|default_if_none:"" }}</div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-4 col-lg-4 mb-sm-3 pl-4">First Name</div>
              <div class="col-sm-8 col-lg-8 mb-3 pr-4 pl-4 pl-sm-0">{{ object.first_name }}</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-4 col-lg-4 mb-sm-3 pl-4">Last Name</div>
              <div class="col-sm-8 col-lg-8 mb-3 pr-4 pl-4 pl-sm-0">{{ object.last_name }}</div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-sm-4 col-lg-4 mb-sm-3 pl-4">Group</div>
                <div class="col-sm-8 col-lg-8 mb-3 pr-4 pl-4 pl-sm-0">{% for group in object.groups.all %}{{group}} {%endfor%}</div>
              </div>
            </div>
          </div>
        
      </div>
</div>

{% endblock %}